body {
    font-family: 'Roboto';
}

/* navbar */
.logged-user {
    cursor: default;
}

.content {
    margin-top: 20px;
}

/* index */
.btn-new {
    margin-bottom: 10px;
}

/* create */
.btn-confirm {
    margin-top: 10px;
}

.checkbox-padding {
    margin-top: 10px;
}



/* front */
.card-img-top {
    max-height: 300px;
}

/* welcome */
.link-category li:hover {
    background-color: #666363;
    color:white;
}

/* nav */
.nav-padding {
    padding: 10px 0px 0px 0px;
}

.stores-padding {
    padding: 8px 0px 0px 0px;
}

.stores-padding a {
    text-decoration: none;
}

.badge {
    font-size: 10px;
    padding: 1px 6px;
}

/* product-single */
.thumb-img{
    height: 650px;
    cursor: pointer;
}

.small-img {
    cursor: pointer;
}

/* cart index */
.no-cart {
    font-size: 40px;
    margin-top: 30px;
}

.btn-buy {
    float: right;
}

/* checkout index */

